.button_count {
  width: 119px;
  height: 40px;
  background: #F5F5F7;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  right: 95px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .button_count {
    left: 55px;
  }
}
.icon_minus {
  width: 10px;
  height: 2px;
  background: #2E2E33;
  opacity: 0.3;
  display: inline-block;
  margin-left: 35px;
  margin-right: 11px;
  transition: 0.5s;
}
.icon_plus {
  width: 10px;
  height: 10px;
  opacity: 0.3;
  display: inline-block;
  color: #2E2E33 !important;
  transition: 0.5s;
}
.icon_minus:active,
.icon_plus:active {
  transform: scale(0.96);
}
.count_number {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #2E2E33;
  opacity: 0.8;
  margin-right: 12px;
  display: inline-block;
}