.invisible {
  display: none;
}
.yellow {
  color: #F26A61;
}
.grey {
  color: #e4e5e9;
}
.feedback {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  text-decoration-line: underline;
  color: #999999;
  display: inline-block;
  margin-left: 4px;
  white-space: nowrap;
}