.button_inCart {
  width: 100px;
  height: 40px;
  background: #00B177;
  border-radius: 90px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  z-index: 3;
}